body {
  background-color: #eeeeee;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.navbar-navbar-expand-lg-navbar-dark-bg-dark {
  margin-top: 2rem;
}
.container {
  margin-top: 2rem;
}

.container {
  border: solid black;
  padding: 2rem;
  background-color: #eeeeee;

}

.images{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}